{% extends "step.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
{% block step_content %}
<h4>School Information</h4>
<form id="msform" method="post">
{% csrf_token %}
{{form.as_p}}
<button class="btn btn-primary mx-5 mb-2">next</button>
{% endblock step_content %}
</body>
</html>